:root {
	--white: #ffffff;
	--off-white: #fafafa;
	/* Paleta Neutra: 'wild-sand' */
	--wild-sand-50: #f5f5f6;
	--wild-sand-100: #e5e5e8;
	--wild-sand-200: #ceced3;
	--wild-sand-300: #acadb4;
	--wild-sand-400: #83858d;
	--wild-sand-500: #686a72;
	--wild-sand-600: #595a61;
	--wild-sand-700: #4c4d52;
	--wild-sand-800: #434347;
	--wild-sand-900: #3b3b3e;
	--wild-sand-950: #0c0c0d;

	--azure-radiance-50: #edf8ff;
	--azure-radiance-100: #d7eeff;
	--azure-radiance-200: #b9e2ff;
	--azure-radiance-300: #88d2ff;
	--azure-radiance-400: #50b8ff;
	--azure-radiance-500: #2897ff;
	--azure-radiance-600: #0a74ff;
	--azure-radiance-700: #0a60eb;
	--azure-radiance-800: #0f4dbe;
	--azure-radiance-900: #134595;
	--azure-radiance-950: #112b5a;

	/* Nova Paleta: 'timber-green' */
	--timber-green-50: #f3faf7;
	--timber-green-100: #d8efe6;
	--timber-green-200: #b0dfcf;
	--timber-green-300: #81c7b1;
	--timber-green-400: #56ab93;
	--timber-green-500: #3d8f79;
	--timber-green-600: #2f7262;
	--timber-green-700: #295c50;
	--timber-green-800: #244b42;
	--timber-green-900: #223f38;
	--timber-green-950: #132f2a;

	/* Nova Paleta: 'toledo' */
	--toledo-50: #faf5f8;
	--toledo-100: #f7ecf3;
	--toledo-200: #f0dae8;
	--toledo-300: #e5bcd5;
	--toledo-400: #d393b8;
	--toledo-500: #c371a0;
	--toledo-600: #ae5482;
	--toledo-700: #94426a;
	--toledo-800: #7b3959;
	--toledo-900: #68334c;
	--toledo-950: #331523;

	/* Nova Paleta: 'black-marlin' */
	--black-marlin-50: #faf8ec;
	--black-marlin-100: #f2efcf;
	--black-marlin-200: #e6dfa2;
	--black-marlin-300: #d8c86c;
	--black-marlin-400: #cbb144;
	--black-marlin-500: #bc9c36;
	--black-marlin-600: #a27d2c;
	--black-marlin-700: #825d26;
	--black-marlin-800: #6d4d26;
	--black-marlin-900: #5e4025;
	--black-marlin-950: #412916;

	/* Pohutukawa - (Tom avermelhado/rosado) */
	--color-pohutukawa-50: #fff1f2;
	--color-pohutukawa-100: #ffe1e4;
	--color-pohutukawa-200: #ffc8ce;
	--color-pohutukawa-300: #ffa1ab;
	--color-pohutukawa-400: #fe6b7a;
	--color-pohutukawa-500: #f73c4f; /* Cor principal, geralmente */
	--color-pohutukawa-600: #e41e32;
	--color-pohutukawa-700: #c01526;
	--color-pohutukawa-800: #941421;
	--color-pohutukawa-900: #831924;
	--color-pohutukawa-950: #48070e;

	/* Forest Green - (Tom esverdeado/verde-floresta) */
	--color-forest-green-50: #f4fdf0;
	--color-forest-green-100: #e4fcdc;
	--color-forest-green-200: #c9f7bb;
	--color-forest-green-300: #9eef86;
	--color-forest-green-400: #6bde4a;
	--color-forest-green-500: #46c522; /* Cor principal, geralmente */
	--color-forest-green-600: #309414;
	--color-forest-green-700: #2c8015;
	--color-forest-green-800: #266516;
	--color-forest-green-900: #205314;
	--color-forest-green-950: #0c2e05;
}

:root:not([data-theme="dark"]):not([data-theme="default"]),
body[data-theme="light"] {
	--color-background: var(--wild-sand-50);
	--color-background-alt: var(--wild-sand-100);
	--color-background-inverse: var(--wild-sand-900);
	--color-background-primary: var(--azure-radiance-100);
	--color-background-primary-border: var(--azure-radiance-500);

	--color-background-static: var(--timber-green-50);
	--color-background-dynamic: var(--black-marlin-100);
	--color-background-metalinguistic: var(--toledo-100);

	--color-text-heading: var(--wild-sand-950);
	--color-text: var(--wild-sand-900);
	--color-text-var: var(--wild-sand-800);
	--color-text-accent: var(--azure-radiance-700);
	--color-text-accent-hover: var(--azure-radiance-800);
	--color-text-inverse: var(--wild-sand-50);

	--color-primary-bg: var(--azure-radiance-600);
	--color-primary-hover: var(--azure-radiance-700);
	--color-primary-active: var(--azure-radiance-500);
	--color-primary-inactive: var(--azure-radiance-200);
	--color-primary-text: var(--wild-sand-50);
	--color-primary-border: var(--azure-radiance-600);

	--color-secondary-bg: var(--wild-sand-50);
	--color-secondary-hover: var(--wild-sand-100);
	--color-secondary-active: var(--wild-sand-200);
	--color-secondary-inactive: var(--wild-sand-300);
	--color-secondary-text: var(--wild-sand-900);
	--color-secondary-border: var(--wild-sand-400);

	--color-static-bg: var(--timber-green-600);
	--color-static-hover: var(--timber-green-700);
	--color-static-active: var(--timber-green-600);
	--color-static-text: var(--wild-sand-50);
	--color-static-icon: var(--timber-green-700);
	--color-static-border: var(--timber-green-600);
	--color-static-shadow: var(--timber-green-100);
	--color-static-shadow-hover: var(--timber-green-200);

	--color-dynamic-bg: var(--black-marlin-600);
	--color-dynamic-hover: var(--black-marlin-700);
	--color-dynamic-active: var(--black-marlin-600);
	--color-dynamic-text: var(--wild-sand-50);
	--color-dynamic-icon: var(--black-marlin-700);
	--color-dynamic-border: var(--black-marlin-600);
	--color-dynamic-shadow: var(--black-marlin-100);
	--color-dynamic-shadow-hover: var(--black-marlin-200);

	--color-metalinguistic-bg: var(--toledo-600);
	--color-metalinguistic-hover: var(--toledo-700);
	--color-metalinguistic-active: var(--toledo-600);
	--color-metalinguistic-text: var(--wild-sand-50);
	--color-metalinguistic-icon: var(--toledo-700);
	--color-metalinguistic-border: var(--toledo-600);
	--color-metalinguistic-shadow: var(--toledo-100);
	--color-metalinguistic-shadow-hover: var(--toledo-200);

	--color-border: var(--wild-sand-200);
	--color-border-var: var(--wild-sand-300);
	--color-border-focus: var(--azure-radiance-400);
	--color-border-blockquote: var(--azure-radiance-600);
}

/* ----------- */
/* MODO ESCURO */
/* ----------- */
@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--color-background: var(--wild-sand-950);
		--color-background-alt: var(--wild-sand-900);
		--color-background-inverse: var(--wild-sand-50);
		--color-background-primary: var(--azure-radiance-300);
		--color-background-primary-border: var(--azure-radiance-500);

		--color-background-static: var(--timber-green-950);
		--color-background-dynamic: var(--black-marlin-950);
		--color-background-metalinguistic: var(--toledo-950);

		--color-text-heading: var(--wild-sand-50);
		--color-text: var(--wild-sand-100);
		--color-text-var: var(--wild-sand-300);
		--color-text-accent: var(--azure-radiance-400);
		--color-text-accent-hover: var(--azure-radiance-300);
		--color-text-inverse: var(--wild-sand-950);

		--color-primary-bg: var(--azure-radiance-300);
		--color-primary-hover: var(--azure-radiance-400);
		--color-primary-active: var(--azure-radiance-300);
		--color-primary-inactive: var(--azure-radiance-950);
		--color-primary-text: var(--wild-sand-950);
		--color-primary-border: var(--azure-radiance-200);

		--color-secondary-bg: var(--wild-sand-950);
		--color-secondary-hover: var(--wild-sand-900);
		--color-secondary-active: var(--wild-sand-950);
		--color-secondary-inactive: var(--wild-sand-600);
		--color-secondary-text: var(--wild-sand-50);
		--color-secondary-border: var(--wild-sand-600);

		--color-static-bg: var(--timber-green-200);
		--color-static-hover: var(--timber-green-200);
		--color-static-active: var(--timber-green-300);
		--color-static-text: var(--wild-sand-950);
		--color-static-icon: var(--timber-green-200);
		--color-static-border: var(--timber-green-600);
		--color-static-shadow: var(--timber-green-950);
		--color-static-shadow-hover: var(--timber-green-900);

		--color-dynamic-bg: var(--black-marlin-300);
		--color-dynamic-hover: var(--black-marlin-200);
		--color-dynamic-active: var(--black-marlin-300);
		--color-dynamic-text: var(--wild-sand-950);
		--color-dynamic-icon: var(--black-marlin-200);
		--color-dynamic-border: var(--black-marlin-600);
		--color-dynamic-shadow: var(--black-marlin-950);
		--color-dynamic-shadow-hover: var(--black-marlin-900);

		--color-metalinguistic-bg: var(--toledo-300);
		--color-metalinguistic-hover: var(--toledo-200);
		--color-metalinguistic-active: var(--toledo-300);
		--color-metalinguistic-text: var(--wild-sand-950);
		--color-metalinguistic-icon: var(--toledo-200);
		--color-metalinguistic-border: var(--toledo-600);
		--color-metalinguistic-shadow: var(--toledo-950);
		--color-metalinguistic-shadow-hover: var(--toledo-900);

		--color-border: var(--wild-sand-400);
		--color-border-var: var(--wild-sand-600);
		--color-border-focus: var(--azure-radiance-300);
		--color-border-blockquote: var(--azure-radiance-300);
	}
}

body[data-theme="dark"] {
	--color-background: var(--wild-sand-950);
	--color-background-alt: var(--wild-sand-900);
	--color-background-inverse: var(--wild-sand-50);
	--color-background-primary: var(--azure-radiance-300);
	--color-background-primary-border: var(--azure-radiance-500);

	--color-background-static: var(--timber-green-950);
	--color-background-dynamic: var(--black-marlin-950);
	--color-background-metalinguistic: var(--toledo-950);

	--color-text-heading: var(--wild-sand-50);
	--color-text: var(--wild-sand-100);
	--color-text-var: var(--wild-sand-300);
	--color-text-accent: var(--azure-radiance-400);
	--color-text-accent-hover: var(--azure-radiance-300);
	--color-text-inverse: var(--wild-sand-950);

	--color-primary-bg: var(--azure-radiance-300);
	--color-primary-hover: var(--azure-radiance-400);
	--color-primary-active: var(--azure-radiance-300);
	--color-primary-inactive: var(--azure-radiance-950);
	--color-primary-text: var(--wild-sand-950);
	--color-primary-border: var(--azure-radiance-200);

	--color-secondary-bg: var(--wild-sand-950);
	--color-secondary-hover: var(--wild-sand-900);
	--color-secondary-active: var(--wild-sand-950);
	--color-secondary-inactive: var(--wild-sand-600);
	--color-secondary-text: var(--wild-sand-50);
	--color-secondary-border: var(--wild-sand-600);

	--color-static-bg: var(--timber-green-200);
	--color-static-hover: var(--timber-green-200);
	--color-static-active: var(--timber-green-300);
	--color-static-text: var(--wild-sand-950);
	--color-static-icon: var(--timber-green-200);
	--color-static-border: var(--timber-green-600);
	--color-static-shadow: var(--timber-green-950);
	--color-static-shadow-hover: var(--timber-green-900);

	--color-dynamic-bg: var(--black-marlin-300);
	--color-dynamic-hover: var(--black-marlin-200);
	--color-dynamic-active: var(--black-marlin-300);
	--color-dynamic-text: var(--wild-sand-950);
	--color-dynamic-icon: var(--black-marlin-200);
	--color-dynamic-border: var(--black-marlin-600);
	--color-dynamic-shadow: var(--black-marlin-950);
	--color-dynamic-shadow-hover: var(--black-marlin-900);

	--color-metalinguistic-bg: var(--toledo-300);
	--color-metalinguistic-hover: var(--toledo-200);
	--color-metalinguistic-active: var(--toledo-300);
	--color-metalinguistic-text: var(--wild-sand-950);
	--color-metalinguistic-icon: var(--toledo-200);
	--color-metalinguistic-border: var(--toledo-600);
	--color-metalinguistic-shadow: var(--toledo-950);
	--color-metalinguistic-shadow-hover: var(--toledo-900);

	--color-border: var(--wild-sand-400);
	--color-border-var: var(--wild-sand-600);
	--color-border-focus: var(--azure-radiance-300);
	--color-border-blockquote: var(--azure-radiance-300);
}
