@import './reset.css';
@import './theme.css';
@import './layout.css';

.btn {
  --background: transparent;
  --border: transparent;
  --color: var(--clr-text);

  height: 44px;
  padding: 0 1.5rem;
  line-height: 1;

  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--base-radius);
  color: var(--color);

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  --background: var(--clr-primary);

  color: var(--clr-bg);

  &:hover {
    background-color: light-dark(
      oklch(from var(--background) calc(l - 0.15) c h),
      oklch(from var(--background) calc(l + 0.1) c h)
    );
  }
}

.btn-secondary {
  --background: var(--clr-bg);
  --border: var(--clr-border);

  &:hover {
    --background: var(--clr-bg-hover);
  }
}

.btn-icon {
  padding-inline: 1rem;
}

.sign-btn {
  --background: var(--clr-primary);

  height: 44px;
  padding: 0 1.5rem;
  line-height: 1;

  background-color: var(--background);
  color: var(--clr-bg);
  border: none;

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;

  &.static {
    --background: var(--clr-static);
  }
  &.dynamic {
    --background: var(--clr-dynamic);
  }
  &.metalinguistic {
    --background: var(--clr-metalinguistic);
  }

  &:hover {
    background-color: light-dark(
      oklch(from var(--background) calc(l - 0.15) c h),
      oklch(from var(--background) calc(l + 0.1) c h)
    );
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;

  > * {
    flex: 1;
    margin-bottom: 0.5rem;
  }
}

input, select {
  padding: 0.5rem;
  border: 1px solid var(--clr-border);
  border-radius: var(--base-radius);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

option:checked {
  font-weight: 500;
}