@import './reset.css';
@import './theme.css';
@import './layout.css';

.btn {
  --background: transparent;
  --border: transparent;
  --color: var(--clr-text);

  height: 44px;
  padding: 0 1.5rem;
  line-height: 1;

  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  color: var(--color);

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
}

.btn-secondary {
  --background: var(--clr-bg);
  --border: var(--clr-border);

  &:hover {
    --background: var(--clr-bg-hover);
  }
}

.btn-icon {
  padding-inline: 1rem;
}

.sign-btn {
  --background: var(--clr-primary);

  height: 44px;
  padding: 0 1.5rem;
  line-height: 1;

  background-color: var(--background);
  color: var(--clr-bg);
  border: none;
  border-radius: 2.5rem;

  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;

  &.static {
    --background: var(--clr-static);
  }
  &.dynamic {
    --background: var(--clr-dynamic);
  }
  &.metalinguistic {
    --background: var(--clr-metalinguistic);
  }

  &:hover {
    background-color: light-dark(
      oklch(from var(--background) calc(l - 0.15) c h),
      oklch(from var(--background) calc(l + 0.1) c h)
    );
  }
}

